/************************
File name: custom.css
Author: Simoni Roque
Date: 11/08/2021

Index
0. Reset
1. General
2. Header
3. Cities
4. Table of contents
5. Stats
6. Footer

************************/

/************************
1. General
************************/

body {
  font-family: 'Poppins', sans-serif;
  color: #60495f;
}

::selection {
  background: #ffee58;
  color: #ff00af;
}

h1 {
  font-size: 40px;
  line-height: 120%;
  /*margin-top: 150px;*/
  font-weight: 600;
}

h4 {
  font-size: 22px;
  line-height: 35px;
  font-weight: 600;
  text-align: left;
  color: #ff00af;
  margin-bottom: 32px;
}

h5 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

p {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #60495f;
}

/************************
2. Header
************************/

header#hero {
  color: white;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ac3ecf+0,ff00af+100 */
  background: #ac3ecf;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ac3ecf 0%, #ff00af 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ac3ecf 0%, #ff00af 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ac3ecf 0%, #ff00af 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3ecf', endColorstr='#ff00af', GradientType=1);
  /* IE6-9 */
}

header nav {
  color: white;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ac3ecf+23,ff00af+100 */
  background: #ac3ecf;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ac3ecf 23%, #ff00af 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ac3ecf 23%, #ff00af 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ac3ecf 23%, #ff00af 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3ecf', endColorstr='#ff00af', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: none
}

nav ul a {
  padding: 0 10px;
}

header #hero-title h1 {
  margin-top: 100px;
  margin-bottom: 15px;
}

header #hero-subtitle {
  margin-bottom: 24px;
}

header #background-map {
  background-image: url('/Assets/img/mapa fundo2.svg');
  background-repeat: no-repeat;
  background-position: 75%;
  background-attachment: fixed;
}

a.brand-logo {
  font-size: 22px;
  font-weight: 500;
}

#value-proposition {
  height: 550px;
}

#value-proposition a {
  color: #B633BF;
  font-weight: 600;
}

#value-proposition .col {
  padding: 0;
}

#call-to-scroll {
  color: #ff00af;
  font-size: 16px;
  font-weight: 600;
}

#call-to-scroll i {
  font-size: 50px;
  margin-top: -16px;
}

/************************
3. Cities
************************/

.card-content p {
  font-size: 16px;
}

.card-content .local {
  font-weight: 500;
  color: #528fff;
  padding-top: 20px;
  display: inline-flex;
}

.card-content .preco {
  font-size: 14px;
  font-weight: 500;
}

.card-action a {
  background: #ff00af;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.card-action a:hover {
  background: #9A259f;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
}

.card-action>.row {
  margin-bottom: 0;
}

/************************
4. Table-of-contents
************************/

#table-of-contents {
  background: #fff2ff;
  padding: 20px 0px;
}

#table-of-contents-content {
  background: #ffffff;
  padding: 2rem;
}

#table-of-contents-title {
  margin-top: 32px;
}

#table-of-contents-title h4 {
  margin-bottom: -8px;
}

#table-of-contents-subtitle p {
  margin-bottom: 24px;
  font-size: 14px;
}

.table-of-contents-content-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.table-of-contents-contents-title-items {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  padding: 0px 14px;
  margin-left: 20px;
}

.table-of-contents-contents-title-items li {
  margin-bottom: 8px;
}

/************************
5. Stats
************************/

#stats {
  padding: 60px 0px;
  background: url('..//img/stats.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 100px;
  background-size: 100% auto;
}

.stats-content-title {
  font-weight: 600;
  color: #ff00af;
  font-size: 45px;
  line-height: 90px;
  text-shadow: 0px 0px 20px #ffffff;
  padding-top: 32px;
}

.stats-contents-subtitle {
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
}

/************************
6. Footer
************************/

.page-footer {
  background: #9c27b0;
  color: #ff00af;
}

.page-footer a {
  font-size: 14px;
  display: inline-flex;
  vertical-align: top;
}

.page-footer i {
  padding-right: 8px;
  padding-bottom: 2px;
}

.page-footer p {
  font-size: 14px;
}